$errorColor: #ce4844;
$linkColor: #337ab7;
$linkHoverColor: #23527c;

$primaryTextColor: #222;
$secondaryTextColor: #fff;

$menuTextColor: #fff;
$menuBackgroundColor: #505160;

$primaryBackgroundColor: rgb(255, 255, 255);

//theme colors
$themeGreen: #aebd38;
$themeDark: #505160;
$themeLight: #68829e;
$themeDarkGreen: #598234;